<h1><%= @deck.title %></h1>
</br>
<h2>"<%= @card.question %>"</h2>
</br>

<%= erb :'_errors' %>


<form action="/rounds/<%= current_round.id %>/cards/<%= @card.id %>" method="post">
  <label for="response">Enter your guess:</label></br>
  <input type="text" name="response">
  <input type="submit" value="submit your guess">
</form>